<div class="row">
    <div class="col-md-8">
        <h2>Welcome!</h2>
        <p>Greet your website visitors with a nice, warm welcome.</p>
        <p>This section should inform the user of what they can expect to find on your website.</p>
        <h2>Announcements</h2>
        <p>Place any urgent, time-sensitive, or attention grabbing messages here.</p>
        <h2>Thanks for Visiting!</h2>
        <p>Don't forget to thank your potential customers for visiting your website. Have a contact us page, social media page, or another page of interest? Provide them important links here.</p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/bokasolutions" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/bokasolutions">
                    <a href="https://www.facebook.com/bokasolutions">Boka Solutions</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
